{% extends 'base.html' %}

{% load static %}

{% block content %}
    <style>
        button {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: -15px;
            border-style: solid;
            border-width: medium;
            border-color: white;
        }
    </style>
    <div class="text-center">
        <img class="img-fluid mx-auto d-block" src="{% static 'logo.png' %}" alt="logo" width="200" height="80">
    </div>
    <div style="color: #181d4b;" align="center">
        <p>Navigus Assignment</p>
        <p>Welcome, {{ user.first_name }}. Thanks for logging in.</p>
        <p>Here is a list of all people viewing this document/page:</p>
    </div>
    <div align="center" id="online">
    </div>
    <div align="center">
        {% for user_email in users_last_seen %}
            <h6>
               {{ user_email }}
            </h6>
        {% endfor %}
    </div>
    <br>
    <a href="{% url 'logout' %}">
        <button class="btn btn-lg btn-primary btn-block">Logout</button>
    </a>

    <script>
        function connect() {
            const protocol = (location.protocol === 'https:' ? 'wss' : 'ws') + '://';
            const ws = new WebSocket(protocol + location.host + '/connect/');
            ws.onopen = function() {
                console.log('WebSockets connection created.');
            };

            setInterval(function() {
                ws.send("heartbeat");
            }, 10000);

            ws.onmessage = function(e) {
                console.log('Message:', e.data, typeof e.data);
                var json_data = JSON.parse(e.data)
                $("#online").empty()
                json_data.forEach(function(user_info) {
                    $("#online").append("<img src='" + user_info.avatar_url + "' alt='Avatar' class='avatar' id='" + user_info.username + "'>")
                    tippy("#" + user_info.username, {
                        content: "Name: " + user_info.name + "<br>Username: " + user_info.username + "<br>Email: " + user_info.email,
                        allowHTML: true,
                        animation: 'scale',
                    });
                })
            };

            ws.onclose = function(e) {
                console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
                setTimeout(function() {
                    connect();
                }, 1000);
            };

            ws.onerror = function(err) {
                console.error('Socket encountered error: ', err.message, 'Closing socket');
                ws.close();
            };
        }

        connect();
    </script>
{% endblock content %}
